# Подтверждение согласия с лицензионным соглашением (обязательный параметр)
astra-license astra-license/license boolean true

# Настройка языка и страны согласно локали
d-i debian-installer/locale string ru_RU
d-i debian-installer/locale select ru_RU.UTF-8
d-i debian-installer/language string ru
d-i debian-installer/country string RU
d-i debian-installer/keymap string ru

# Выбор клавиатуры
d-i console-tools/archs select at
d-i console-keymaps-at/keymap select ru
d-i console-setup/toggle string Alt+Shift
d-i console-setup/layoutcode string ru
d-i keyboard-configuration/toggle select Alt+Shift
d-i keyboard-configuration/layoutcode string ru
d-i keyboard-configuration/xkb-keymap select ru
d-i languagechooser/language-name-fb select Russian
d-i countrychooser/country-name select Russia

# netcfg выберет активный сетевой интерфейс (если такой имеется), если есть более одного интерфейса,
# то при данной настройке список интерфейсов выводится не будет
d-i netcfg/choose_interface select auto

# Чтобы использовать нужный интерфейс раскомментировать
# d-i netcfg/choose_interface select eth1

# Если сервер dhcp server медленный и инсталлятор не дожидается получения настроек, раскомментировать строку
# d-i netcfg/dhcp_timeout string 60

# Для ручной настройки сети раскомментировать следующую строку и статическую настройку сети ниже
# d-i netcfg/disable_dhcp boolean true

# Чтобы файл ответов работал при наличии и без сервера dhcp, раскомментировать следующие две строки и статическую настройку сети ниже
# d-i netcfg/dhcp_failed note
# d-i netcfg/dhcp_options select Configure network manually

# Статическая настройка сети
# d-i netcfg/get_nameservers string 192.168.1.1
# d-i netcfg/get_ipaddress string 192.168.1.42
# d-i netcfg/get_netmask string 255.255.255.0
# d-i netcfg/get_gateway string 192.168.1.1
# d-i netcfg/confirm_static boolean true

# Устанавливать несвободные пакеты
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# Имена хоста и домена, назначенные с помощью dhcp, имеют приоритет над значениями, установленными здесь,
# но установка значений предотвращает показ вопросов, даже если значения получены от dhcp
d-i netcfg/get_hostname string arm-abi
d-i netcfg/get_hostname seen true
d-i netcfg/get_domain string vector.ru

d-i apt-setup/services-select none
d-i apt-setup/security_host string

# Выключить показ диалога с WEP ключом
# d-i netcfg/wireless_wep string

# Репозиторий для установки (если выбрать ftp, то mirror/country string устанавливать не нужно)
d-i mirror/protocol string http
d-i mirror/country string manual
d-i mirror/http/hostname string 192.168.56.1
d-i mirror/http/directory string /repo/se/main
d-i mirror/http/proxy string

# Установка аппаратных часов по UTC и временной зоны (допустимые значения в файле /usr/share/zoneinfo)
d-i clock-setup/utc boolean true
d-i time/zone string Europe/Moscow

# Определяет, нужно ли использовать NTP для установки часов во время установки
# d-i clock-setup/ntp boolean true
# Используемый сервер NTP
# d-i clock-setup/ntp-server 10.100.130.200

# Если система имеет свободное место, можно выбрать для разметки только его (нужно указывать локализованные (переведённые) значения)
d-i partman-auto/init_automatically_partition \
    select Авто - использовать наибольшее свободное место

# Можно задать размечаемый диск, при этом его должно задаваться в обычном (не-devfs) формате,
# например, для использования первого жёсткого диска SCSI/SATA:
# d-i partman-auto/disk string /dev/sda
# Для использования любого доступного диска, вне зависимости от его имени, закоммерировать строку выше,
# так как она работает только если в системе один жёсткий диск
# Можно указать какой метод использовать (доступные методы "regular", "lvm" и "crypto")
d-i partman-auto/method string regular

# Автоматическая установка на компьютеры с уже установленной ОС в режиме UEFI без запроса подтверждения
# d-i partman-efi/non_efi_system boolean true

# Если один из дисков, который нужно разметить с помощью автоматической разметки, содержит старую конфигурацию LVM,
# то выдаётся предупреждение (ответ можно автоматизировать и подтвердить запись lvm разделов)
d-i partman-auto/purge_lvm_from_device boolean true
d-i partman-lvm/confirm boolean true

# Выбрать любой из имеющихся наборов разметки (должен содержать локализованные (переведённые) значения)
# Для режима legacy bios
d-i partman-auto/choose_recipe select atomic
# Для режима UEFI
# d-i partman-auto/choose_recipe select /lib/partman/recipes-amd64-efi/30atomic

# Этот параметр заставляет partman выполнить разметку автоматически без подтверждения
d-i partman/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman-auto-crypto/erase_disks boolean true
d-i partman-basicfilesystems/no_swap boolean true
d-i partman-target/mount_failed boolean true
d-i partman-partitioning/unknown_label boolean true
d-i partman-auto/purge_lvm_from_device string true
d-i partman-lvm/vgdelete_confirm boolean true
d-i partman/confirm_write_new_label string true
d-i partman-lvm/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# Устанавливаемый (мета)пакет с образом ядра (можно указать "none", если ядро устанавливать не нужно)
# d-i base-installer/kernel/image string linux-image-generic
d-i base-installer/kernel/image select linux-5.15-generic

# Пропустить создание учётной записи суперпользователя (в обычной учётной записи пользователя можно использовать sudo)
# d-i passwd/root-login boolean false
# Или же пропустить создание обычной учётной записи пользователя
# d-i passwd/make-user boolean true

# Пароль суперпользователя открытым текстом
# d-i passwd/root-password password 12345678
# d-i passwd/root-password-again password 12345678
# или в виде MD5 хеша
# d-i passwd/root-password-crypted password [MD5 хеш]
 
# Создать учётную запись обычного пользователя с именем astra-admin (будет включен в группу astra-admin)
d-i passwd/user-fullname string astra-admin
d-i passwd/username string astra-admin

# Пароль обычного пользователя открытым текстом
d-i passwd/user-password password Aa123456
d-i passwd/user-password-again password Aa123456
# или в виде MD5 хеша
# d-i passwd/user-password-crypted password [MD5 хеш]

# Создать первую учётную запись с заданным UID вместо значения по умолчанию
# d-i passwd/user-uid string 1010

# Учётная запись добавляется в несколько стандартных начальных групп, чтобы это изменить отредактировать строчку ниже
# d-i passwd/user-default-groups string audio cdrom dip video floppy plugdev fuse netdev bluetooth sudo

# Дополнительные репозитории доступны как local[0-9]
# d-i apt-setup/local0/repository string http://local.server/debian stable main
# d-i apt-setup/local0/comment string local server
# Активировать строки для deb-src
# d-i apt-setup/local0/source boolean true
# URL публичного ключа локального репозитория; вы должны предоставлять ключ, или apt будет жаловаться о невозможности
# аутентифицировать репозиторий и закомментирует строку, описывающую этот репозиторий в sources.list
# d-i apt-setup/local0/key string http://local.server/key

# По умолчанию программа установки требует, чтобы репозитории аутентифицировались с помощью известного ключа gpg
# Этот параметр выключает данную аутентификацию (это небезопасно, рекомендуется не делать этого)
d-i debian-installer/allow_unauthenticated string true

# На АРМ пользователей (операторов) дополнительно устанавливать офисные программы
tasksel tasksel/first multiselect Base packages, Fly desktop, SSH server
tasksel tasksel/astra-feat-setup multiselect

# Дополнительные пакеты для установки
d-i pkgsel/include string ssh

astra-additional-setup astra-additional-setup/additional-settings multiselect
d-i astra-additional-setup/additional-settings multiselect
astra-additional-setup astra-additional-setup/automatic-network-disable multiselect
d-i astra-additional-setup/automatic-network-disable multiselect
d-i desktop-tablet-mode-switch/tablet-mode multiselect

# tripwire tripwire/use-localkey boolean false
# tripwire tripwire/use-sitekey boolean false
# tripwire tripwire/installed note ok
# portsentry portsentry/warn_no_block note ok
# krb5-config krb5-config/kerberos_servers string
# libnss-ldapd libnss-ldapd/ldap-base string
# libnss-ldapd libnss-ldapd/ldap-uris string
# libnss-ldapd libnss-ldapd/nsswitch multiselect services
# ald-client ald-client/make_config boolean false
# ald-client ald-client/manual_configure false
# astra-feat-setup astra-feat-setup/feat multiselect kiosk mode false
# astra-feat-setup astra-feat-setup/feat multiselect Служба ALD false
# d-i console-cyrillic/switch select "Клавиша Menu"
# d-i console-cyrillic/toggle select Control+Shift
# d-i samba-common/dhcp boolean false
# d-i samba-common/workgroup string testgroup1

# Некоторые версии программы установки могут отсылать отчёт об установленных пакетах
# По умолчанию данная возможность выключена, но отправка отчёта помогает проекту определить популярность программ и какие из них включать на CD
popularity-contest popularity-contest/participate boolean false

# Уровень защищённости
d-i astra-additional-setup/os-check select Maximum security level Smolensk

# Дополнительные настройки уровня защищённости
d-i astra-additional-setup/additional-settings-smolensk multiselect Enable Mandatory Integrity Control, Enable Mandatory Access Control, Disable ptrace capability

# astra-additional-setup astra-additional-setup/additional-settings multiselect
# d-i astra-additional-setup/additional-settings multiselect
# astra-additional-setup astra-additional-setup/automatic-network-disable multiselect
# d-i astra-additional-setup/automatic-network-disable multiselect
# d-i desktop-tablet-mode-switch/tablet-mode multiselect

# Устанавливать grub в MBR, если на машине не найдено другой операционной системы
d-i grub-installer/only_debian boolean true

# Устанавливать grub в MBR, даже если на машине есть другая ОС (может привести к отказу загрузки этой другой ОС)
d-i grub-installer/with_other_os boolean true

# Если grub устанавливается не в MBR, то раскомментировать и отредактировать следующие строки
# d-i grub-installer/only_debian boolean false
# d-i grub-installer/with_other_os boolean false
# d-i grub-installer/bootdev  string (hd0,0)
# d-i grub-pc/install_devices multiselect /dev/sda
# Для установки grub на несколько дисков
# d-i grub-installer/bootdev  string (hd0,0) (hd1,0) (hd2,0)

# Необязательный пароль на grub в виде открытого текста
d-i grub-installer/password password Aa123456
d-i grub-installer/password-again password Aa123456
grub-installer grub-installer/password-mismatch error
# Необязательный пароль на grub в виде хеша MD5
# d-i grub-installer/password-crypted password [MD5 хеш]

# Не показывать последнее сообщение о том, что установка завершена.
d-i finish-install/reboot_in_progress note
d-i finish-install/exit/poweroff boolean true

# Не выдвигать лоток CD при перезагрузке
# d-i cdrom-detect/eject boolean false

# Остановить систему после завершения установки, а не перегружаться в установленную систему
# d-i debian-installer/exit/halt boolean true
# Выключить питание машины, а не просто остановить её
# d-i debian-installer/exit/poweroff boolean true

# В зависимости от выбранного для установки ПО, или если что-то идёт неправильно во время процесса установки,
# существует вероятность появления других вопросов, которые можно автоматизировать
# Чтобы получить список всех возможных вопросов, которые могут быть заданы во время установки,
# выполнить установку, а затем запустить команды
# debconf-get-selections --installer > file
# debconf-get-selections >> file

# Запуск различных команд в процессе инсталляции

# Эта команда будет выполнена самой первой, как только будет прочитан файл ответа
# d-i preseed/early_command string anna-install some-udeb

# Эта команда выполняется перед окончанием установки, пока ещё есть рабочий каталог /target
# Можно выполнить chroot в /target и непосредственно использовать его, или же воспользоваться командами
# apt-install и in-target для облегчения задачи установки пакетов и запуска команд в целевой системе

# Непосредственное выполнение постинсталляционных команд
# d-i preseed/late_command string \
#     in-target astra-commands-lock enable; \
#     in-target systemctl enable ssh 

# Монтирование накопителя с постинсталяционным с скриптом, последующее копирование и запуск скрипта
# TODO Чтобы в явном виде не указывать имя накопителоя, назначить ему метку, опознавать по ней имя накопителя и монтировать его
d-i preseed/late_command string \
    mount /dev/sdb /media; \
    cp /media/postinst.sh /target/tmp/postinst.sh; \
    in-target chmod +x /tmp/postinst.sh; \
    in-target /tmp/postinst.sh
